$color-primary: #3D8EDA;
$color-input-border: #DEDEDE;
$color-input-placeholder: #636264;
$color-button-bg: #EBEBEB;
$color-button-disabled: #929292;
$color-calendar-border: #D2D1D2;

$container-width: 836px;

$shadow-header:
        0 4px 24px rgba(0,0,0,.12),
        inset 0 12px 24px rgba(0,0,0,.12);

$shadow-calendar: 0 4px 4px 0 rgba(0, 0, 0, 0.25);